image: node:15.18.0

before_script:
  - apt-get udpate -qq && apt-get install

cache:
  paths:
    - node_modules/

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - npm install
  artifacts:
    paths:
      - node_modules/
  only:
    - default

deploy:
  stage: deploy
  script:
    - npm install --unsafe-perm=true -g netlify-cli
    - netlify deploy --dir=build --prod
