@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./assets/header.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 302px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  .info_profile {
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 20px;
    }
    .rating {
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      line-height: 28px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .star_icon {
        text-align: center;
        margin-right: 10px;
      }
    }
  }
}
