@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/header.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 302px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 20px;
  }
  p {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    position: relative;
    .star_icon {
      position: absolute;
      top: 3px;
      right: 213px;
    }
  }
}
