@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

nav {
  margin: auto;
  max-width: 1200px;
  img {
    width: 150px;
    margin-left: 6em;
    margin-right: 2em;
  }
  p {
    margin-top: 10px;
    margin-left: 20px;
    text-decoration: none;
    color: #868993;
    font-weight: 400;
    font-style: normal;
  }
}

.container {
  margin: 50px 80px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  font-family: "Poppins", sans-serif;
  .checkout {
    h1 {
      margin-bottom: 30px;
      font-size: 31px;
      font-weight: bold;
      font-style: normal;
      line-height: 40px;
      color: #313440;
    }
    .role {
      margin: 10px;
      .icon {
        color: #868993;
        font-size: 16px;
        margin-right: 10px;
      }
      span {
        color: #868993;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
