@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./image\ 25.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 829px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  .content {
    img {
      margin-top: -70px;
    }
    h3 {
      color: #ffffff;
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      margin-bottom: 30px;
    }
    p {
      color: #ffffff;
      margin-top: 20px;
      margin-bottom: 30px;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 27px;
    }
    .btn_merchant {
      color: #ff5353;
      background-color: #ffffff;
      width: 178px;
      height: 52px;
      margin-right: 30px;
      text-transform: none;
      font-size: 16px;
      font-weight: 500;
      position: relative;
      border-radius: 10px;
      .icon {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 40px;
        transform: translateY(-50%);
      }
      span {
        position: absolute;
        top: 50%;
        right: 35px;
        transform: translateY(-50%);
      }
    }
    .btn_customer {
      color: #ffffff;
      background-color: #ff5353;
      font-style: normal;
      width: 178px;
      height: 52px;
      text-transform: none;
      font-size: 16px;
      font-weight: 500;
      border-radius: 10px;
      .icon {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 40px;
        transform: translateY(-50%);
      }
      span {
        position: absolute;
        top: 50%;
        right: 35px;
        transform: translateY(-50%);
      }
    }
    .link {
      text-decoration: none;
    }
  }
}
