* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

.categories {
  display: flex;
  margin-top: 72px;
}

.categories h3 {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: bold;
}

.logo {
  height: 22px;
  width: 22px;
  margin-top: 6px;
  margin-right: 17px;
}

.tab-menu a {
  text-decoration: none;
  margin-right: 20px;
}
