@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,700;1,800&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Proxima Nova";
}

.nav {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  padding: 20px 0;
}

.nav a {
  position: absolute;
  margin-left: 10px;
  text-decoration: none;
  color: #868993;
  font-weight: 400;
  font-style: normal;
  //   text-align: center;
  top: 30px;
  left: 20%;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.Logo img {
  margin-left: 6em;
  margin-right: 2em;
  width: 150px;
}

.Cart {
  position: absolute;
  top: 3.5%;
  left: 79%;
  color: #868993;
  font-size: 16px;
  font-weight: 400;
}

.Cart2 {
  position: absolute;
  top: 1.7rem;
  left: 85rem;
  cursor: pointer;
  color: #ff5353;
  font-size: 16px;
  line-height: 24px;
}

.Cart2.active {
  background-size: 25px;
}

.sideCart {
  position: relative;
  left: 77.9%;
  background: #fff;
  align-items: center;
  transition: 4s;
  z-index: 100;
  width: calc(55% - 500px);
  height: 50rem;
  top: 0;
  box-shadow: 0px 2px 5px 3px #d8c8c8;
  border-radius: 3px 3px 3px 3px;
  padding: 10px;

  .tl1 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
  }

  h3,
  h2 {
    font-size: 16px;
    text-align: center;
    padding: 10px;
  }

  h4 {
    padding: 15px;
  }

  h3,
  h4 {
    color: #868993;
    font-weight: normal;
  }
  hr {
    background-color: #d3d9ff;
    opacity: 0.5;
  }
}
